:root{
    --primary-color: rgba(56,56,229,0.972);
    --navbar-primary-color: rgba(56, 56, 229, 0.972);
    --secondary-color: rgba(244, 236, 236, 0.953);
    --navbar-color: rgba(74, 74, 210, 0.931);
    --navbar-secondary: wheat;
    --box-shadow: rgba(0, 0, 0, 0.3);
    --primary-font-familty: sans-serif;
}

*{
    font-family: var(--primary-font-familty);
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
}
.cards-curri{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.course-data{
    padding: 10px;
    width: 26%;
    margin: 10px 0px 10px 20px;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
    padding: 15px;
    position: relative;
    border-radius: 0.2em;
    transition: 0.4s ease-in-out ;
}



/*table styling for diplaying students attendance*/
table, tr,th,td{
    border-collapse: collapse;
    border: 2px solid black;
    padding: 20px;
}
th{
    padding: 10px;
    background-color: rgb(42, 61, 102);
    color: white;
}
td{
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}
table{
    width: 100%;
    border-radius: 0.3em;

}

/*section for .indivisual-students section*/
.indivisual-students , section{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

table button{
    border: none;
    background-color: green;
    font-size: 25px;
    padding: 5px 5px;
    border-radius: 0.2em;
}

.body-content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* style for the .quick-access menu bar*/
.quick-access{
    border: 1px solid black;
    border-radius: 0.3em;
    color: white;
    margin: auto;
    margin-left: 15px;
    width: 20%;
    margin-top: 70px;
    height: auto;
    font-size: 20px;
    padding: 2px;
}
.quick-access li{
    margin-top: 30px;
}
.quick-access a{
    text-decoration: underline;
    color: blue;
    border-radius: 0.3em;
  
}
.navigation-button{
    margin: auto;
    width: 50%;
    margin-top: 20px;
}
.navigation-button button{
    border: none;
    border-radius: 0.2em;
    padding: 8px;
    width: 30%;
    cursor: pointer;
    font-size: 20px;
}
.navigation-button button:hover{
    opacity: 0.9;
}
.navigation-button button:nth-child(1){
    background-color: green;
    margin-right: 20px;
    text-align: center;
}
.navigation-button button:nth-child(2){
    background-color: red;
}
.main-content{
    width: 70%;
    margin-left: 500px;
    height: 400px;
    z-index: 300;
}
/* style for the three cards*/
.numbers{
    width: 90%;
}
.stats{
    display: flex;
    flex-direction: row;

}
.stats div:hover{
    transform: translateY(-8px)
}
.stats div{
    margin-right: 20px;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    border-radius: 0.2em;
    width: 40%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.stats h2{
    font-size: 26px;
    color: blue;
}
.stats h3{
    font-size: 20px;
}

.change-class{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    display: none;
}
.box{
    background-color: var(--secondary-color);
    width: 40%;
    position: absolute;
    height: 250px;
    margin: auto;
    margin: 200px;
    margin-left: 400px;
    border-radius: 0.2em;
    padding: 10px;
    transition: display 0.4s ease-in-out;
}

.container-stats{
    width: 60%;
    box-shadow: 3px 5px 5px var(--box-shadow);
    padding: 10px 20px;
    height: auto;
    margin: auto;
}
@media (max-width: 700px) {
    .quick-access{
        display: none;
    }
    .numbers{
        width: 100%;
    }
    .numbers .stats{
        flex-direction: column;
    }
    .stats div{
        width: 100%;
        margin-top: 10px;
    }

    .navbar .menu-btn{
        margin: 0;
        width: 10%;
        padding: 2px;
        font-size: 25px;
    }
    .navbar a{
        display: none;
    }
    .navigation-button{
        width: 90%;
    }
    .container-stats{
        width: 100%;
    }

}
